
header {
    float: left;
    clear: both;
    text-align: center;
    font-size: 40px;
    height: 90px;
    width: 100%;
}

    header .headtitle {
        width: 400px;
        margin: 20px auto;
        color:#000;
    }
h2.title{
	margin-top:20px;
	width:50%;
	 margin-right:100px;
}
aside.sidebar {
    float: right;
    width: calc(100% - 800px);
    height: 550px;
     overflow-x: auto;
     direction:ltr;
     
	overflow:overlay;  
}



    aside.sidebar .container-fluid {
height:600px;
        float: right;
        width: 80%;
        
       direction:rtl;
        border-radius:5px;
    }

aside.sidebar  .info {
 box-shadow:none;
    margin:1% 2.5%;
}
aside.sidebar  .info .row-fluid{
width:40%;
float:right;
margin-right:15px
}
    aside.sidebar  .multiple {
        margin: 2px 5px;
        height:20px;
        width:150px;
    }
    aside.sidebar .box input {
        margin-right: 25px;
        margin-bottom: 5px;
    }
body .Main_content{
	float:right;
	width:800px;
}
 
  .Main_content .nav li{
	float: right;
	text-align: right;
}
#madad .madadLabel{
	margin-right:15px;
}
#runo {
    float: left;
    display: inline;

}

#histo {
  float:right;
    display: inline;
    left: 0;
}
#andor .andorLabel{
	margin-right:15px;
}

#day{
	float: left;
	display: block;
	
}

#TimeSlicer1{
	float: right;
	 white-space: nowrap;
	
}

#day1{
	float: left;
	display: block;
	
}

#TimeSlicer2{
	float: right;
	 white-space: nowrap;
	
}